<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)='sidenav.toggle()'>
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Bienvenidos al himalaya!
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>
    <span class="breaks">BEST ANIMES 2022</span>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/SNK">
      <mat-icon>bar_chart</mat-icon>
      <span>SNK</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Bleach">
      <mat-icon>bar_chart</mat-icon>
      <span>Bleach</span>
    </button>
    <button mat-button class="menu-button" routerLink="/chainsaw">
      <mat-icon>bar_chart</mat-icon>
      <span>Chainsaw Man</span>
    </button>

    <mat-divider></mat-divider>

    <span class="breaks">OTRAS OPCIONES</span>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/donar">
      <mat-icon>attach_money</mat-icon>
      <span>Donar</span>
    </button>
    <button mat-button class="menu-button" routerLink="/otro">
      <mat-icon>question_answer</mat-icon>
      <span>Otro</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>